{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="display-4 my-4">Détail de l'article</h2>
            </div>
            <div class="col-md-4">
                <img src="{{ asset('img/posts/' ~ post.image) }}" alt="{{ post.title }}">
            </div>
            <div class="col-md-8">
                <h3 class="display-5">{{ post.title|upper }}</h3>
                <h4>{{ post.category.name }}</h4>
                <h4>{{ post.creatAt|date('d/m/Y') }}</h4>
                <p class="lead">{{ post.content }}</p>
                <p><a href="{{ path('posts') }}" class="btn btn-outline-dark">Liste des articles</a></p>
            </div>
        </div>
    </main>
{% endblock %}