{% extends 'base.html.twig' %}
{% block body %}
    <main class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 my-4">Liste des articles</h1>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Titre</th>
                        <th>Création</th>
                        <th>Categorie</th>
                        <th><i class="icofont-ui-delete"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in posts %}
                        <tr>
                        <td><img src="{{ asset('img/posts/' ~ post.image) }}" class="img-table" alt=""></td>
                        <td><a href="{{ path('post', {id:post.id}) }}">{{ post.title|capitalize }}</a></td>
                        <td>{{ post.creatAt|date("d/m/Y") }}</td>
                        <td>{{ post.category.name }}</td>
                        <td><a href="{{ path('delpost', {id:post.id}) }}"><i class="icofont-ui-delete"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}
